*{
	margin:0;
}
.header, .header img{
	background-color: DodgerBlue;
	height: 100px;
}
h1{
	position:absolute;
	left: 180px;
	top: 50px;
	font-family: Georgia;
	color: brown;
}
p{
	margin: 0px 12%; padding: 0px 7%; font-family: Tahoma; font-size: 40px; text-align: center;
	text-shadow: 20px;
}

h3
{font-family: Tahoma; font-size: 28px; word-spacing: 2px; color: Sienna; margin: 5px 30px;
}
button {
	background-color: DodgerBlue; border-radius: 4px; padding: 5px; font-family: Georgia; font-size: 18px; color: white; font-weight: bold; border: none; margin: 10px; width: 200px; height: 50px; margin-right: 70px;
}
input, select {
	width: 300px; height:30px; margin: 5px; font-family: Georgia; font-size: 16px; border-radius: 3px;  border-width: 0.5px; padding: 10px; margin: 10px;}

}
#conversion_form{
	padding: 5px; margin: 5px 30px;
} 

form{
	padding: 5px; margin: 10px 40px 40px 30px;
}
